* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  /* background-color: #f5f5f5; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    /* to right, */
      /* white,
    green,
    pink,
    yellow,
    black,
    grey,
    brown */
      green,
    blue
  );
}

.pricing-container {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.plan {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.plan h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.plan p {
  font-size: 18px;
  margin-bottom: 20px;
}

.plan ul {
  list-style: none;
  margin-bottom: 20px;
}

.plan ul li {
  font-size: 16px;
  margin-bottom: 10px;
}

.signup-btn {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.signup-btn:hover {
  background-color: #45a049;
}
